{% extends "base.html" %} {% block title %} Home Page {% endblock title %} {%
block body %}
<section id="contact" class="contact">
  {% include "messages.html" %}
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Our Posts</h2>
    </div>

    <div class="row">
      {% for blog in blogs | reverse %}
      <div class="col-md-4">
        <div class="card" style="width: 18rem">
          <img src="{{ url_for('static',filename='uploads/' + blog.image) }}" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">{{blog.title}}</h5>
            <p class="card-text">
          {{blog.description}}
            </p>
            <p>Author : {{blog.author}}</p>
            <p>Posted At : {{blog.date}}</p>
            <a href="#" class="btn btn-primary">View</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- End Contact Section -->

{% endblock body %}
