{% extends "base.html" %}
{% block title %}
Login Page
{% endblock title %}
{% block body %}
<section id="contact" class="contact">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Login</h2>
    </div>

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
{% include "messages.html" %}
            <form action="/login" method="post">

   
                <div class="form-group">
                    <input class="form-control mb-2 p-3" type="email" name="email" placeholder="Enter  Email" required>
                </div>
             
                <div class="form-group">
                    <input class="form-control mb-2 p-3" type="password" name="pass1" placeholder="Enter  Password" required>
                </div>
             
        <br>
        <div class="d-grid gap-3">
            <button class="btn btn-success" type="submit">Login</button>
           
          </div>
        
        
        
        
        
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
   







  </div>
</section><!-- End Contact Section -->


{% endblock body %}