{% extends "base.html" %} {% block title %} Blog Post {% endblock title %} {%
block body %}
<section id="contact" class="contact">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>
        Upload Blog
        <section></section>
      </h2>
    </div>

    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        {% include "messages.html" %}


        <form action="/posts" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <input
              class="form-control mb-2 p-3"
              type="text"
              name="title"
              placeholder="Enter  Title"
              required
            />
          </div>

          <div class="form-group">
            <input
              class="form-control mb-2 p-3"
              type="text"
              name="desc"
              placeholder="Enter  Blog bio"
              required
            />
          </div>

          <div class="form-group">
            <input
              class="form-control mb-2 p-3"
              type="text"
              name="authorname"
              placeholder="Enter  Author"
              required
            />
          </div>

          <div class="form-group">
            <input
              class="form-control mb-2 p-3"
              type="file"
              name="image"
              placeholder="Upload Picture"
              required
            />
          </div>

          <br />
          <div class="d-grid gap-3">
            <button class="btn btn-success" type="submit">Upload</button>
          </div>
        </form>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
</section>
<!-- End Contact Section -->

{% endblock body %}
