{% extends "base.html" %}
{% block title %} Edit profile Page {% endblock title %} 
 {% block body %}
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Update Profile Information</h2>
    
       
        </div>
    
        <div class="row">
          <div class="col-md-4"></div>
    
          <div class="col-md-4">
            {% include "messages.html" %}
            <form action="/updateprofile/{{userdata.user_id}}" method="post" enctype="multipart/form-data">


              <div class="form-group">
                <input
                  class="form-control mb-2 p-3"
                  type="text"
                  name="fname"
                  placeholder="Enter  first name"
                  value="{{userdata.first_name}}"
                  required
                />
              </div>
              <div class="form-group">
                <input
                  class="form-control mb-2 p-3"
                  type="text"
                  name="lname"
                  value="{{userdata.last_name}}"
                  placeholder="Enter  last name"
                  required
                />
              </div>
              <div class="form-group">
                <input
                  class="form-control mb-2 p-3"
                  type="email"
                  name="email"
                  value="{{userdata.email}}"
                  placeholder="Enter  Email"
                  required
                />
              </div>
              <div class="form-group">
                <input
                  class="form-control mb-2 p-3"
                  type="number"
                  name="phone"
                  value="{{userdata.phone}}"
                  placeholder="Enter  Phone Number"
                  required
                />
              </div>
              <div class="form-group">
                <input
                  class="form-control mb-2 p-3"
                  type="password"
                  name="pass1"
                  placeholder="Enter  Password"
                  required
                />
              </div>
              <div class="form-group">
                <input
                  class="form-control mb-2 p-3"
                  type="password"
                  name="pass2"
                  placeholder="Confirm Password"
                  required
                />
              </div>
              <div class="form-group">
                <label for="dp">Upload Profile Picture</label>
                <input
                  class="form-control mb-2 p-3"
                  type="file"
                  name="dp"
                  required
                />
              </div>
              <br />
              <div class="d-grid gap-3">
                <button class="btn btn-success" type="submit">Update</button>
              </div>
            </form>
          </div>
    
          <div class="col-md-4"></div>
        </div>
      </div>
    </section>
    <!-- End Contact Section -->
    
    {% endblock body %}
    