{% extends "base.html" %}
{% block title %}
Profile
{% endblock title %}
{% block body %}
<section id="contact" class="contact">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
        <h2>Profile</h2>
      </div>
  
   <div class="row">
    <div class="col-md-4"></div>


    <div class="col-md-4">
        {% include "messages.html" %}
        <div class="card">
            <br>
            <img src="{{ url_for('static',filename='uploads/' + userdata.profilepicture) }}"  class="card-img-top profileimg" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{userdata.first_name}} {{userdata.last_name}}</h5>
            
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Email : <b>{{userdata.email}}</b></li>
              <li class="list-group-item">Phone : <b>{{userdata.phone}}</b></li>
              
            </ul>
            <div class="card-body">
              <a href="/editprofile/{{userdata.user_id}}" class="card-link">Click here to Update </a>
              
            </div>
          </div>

    </div>



    <div class="col-md-4"></div>
   </div>





  </div>
</section><!-- End Contact Section -->


{% endblock body %}