{% extends "base.html" %}
{% block title %}
      Login
{% endblock title %}

{% block body %}
  <h1 class="text-center">Welcome to Login Page</h1>   
  <hr> 
 <div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">


      <form action="/login" method="post">
        <div class="mb-3">
          <label  class="form-label">Email address</label>
          <input type="email" class="form-control" name="email" aria-describedby="emailHelp" required>
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label class="form-label">Password</label>
          <input type="text" class="form-control" name="pass1" required>
        </div>
        <div class="mb-3">
          <label class="form-label">Confirm Password</label>
          <input type="password" class="form-control" name="pass2" required>
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>




    </div>
    <div class="col-md-4"></div>
  </div>
 </div>

{% endblock body %}
